<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Login </title>

    <link rel="stylesheet" href="~/css/bootstrap.css" />

</head>

<body class="bg-light">

    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


</body>

@RenderSection("Scripts", required: false)

</html>
