@{
    Layout = "_LayoutMaster";
}

<div class="row">

    <div class="col-lg-6 col-sm-12 col-md-12 col-12   pt-3 ">

        <div class="col-12 shadow bg-white  pb-2 border  ">

            <div style="background-color: #0abbec;" class="  p-2 ">

                <div class="float-left ml-3">
                    <span style="font-size: 18px;" class="text-white font-weight-bold ">Registrar usuario</span>
                </div>
                <br>

            </div>

            <form class="container-fluid mt-3" onsubmit="GuardarUsuario(event)">

                <span class="text-dark">
                    Formulario para registro de usuarios. <span class="text-danger  pl-3 " style="font-weight: 500; font-size:14px;">
                        * Campos
                        Obligatorios
                    </span>
                </span>


                <div class="row mt-2 ">

                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 pt-2">
                        <div class="form-group">
                            <label for="" class="text-dark " style="font-weight: 400;">
                                Rut <span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input type="text" class="form-control rounded-0 mt-2 form-control-sm"  min="6"  id="IsRut"
                                   placeholder="Ingrese rut del usuario" required>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 pt-2">
                        <div class="form-group">
                            <label for="" class="text-dark " style="font-weight: 400;">
                                Nombre <span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input placeholder="Ingrese nombre del usuario" type="text"
                                   class="  form-control rounded-0 mt-2 form-control-sm"  min="2"  id="IsNombre" required>
                        </div>
                    </div>

                </div>

                <div class="row ">

                    <div class="col-12 col-lg-6 pt-2">
                        <div class="form-group">
                            <label for="" class="text-dark " style="font-weight: 400;">
                                Apellido<span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input placeholder="Ingrese apellido del usuario" type="text"
                                   class="form-control rounded-0 mt-2 form-control-sm" id="IsApellido" min="2"  required>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 pt-2">
                        <div class="form-group">
                            <label for="" class="text-dark " style="font-weight: 400;">
                                Correo<span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input placeholder="Ingrese correo del usuario " type="email" class=" form-control rounded-0 mt-2 form-control-sm" id="IsCorreo" required>
                        </div>
                    </div>

                </div>

                <div class="row ">

                    <div class="col-12 col-lg-6 pt-2">
                        <div class="form-group">
                            <label for="" class="text-dark " style="font-weight: 400;">
                                Direccion<span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input placeholder="Ingrese direccion del usuario" type="text"
                                   class="form-control rounded-0 mt-2 form-control-sm" min="4"  id="IsDirección" required>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 pt-2">
                        <div class="form-group">
                            <label for="" class="text-dark " style="font-weight: 400;">
                                Teléfono<span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input placeholder="Ingrese telefono del usuario" type="number"
                                   class=" form-control rounded-0 mt-2 form-control-sm" min="7"  id="IsTelefono" required>
                        </div>
                    </div>

                </div>

                <div class="row ">
                    <div class="col-12 col-lg-6 pt-2">
                        <div class="form-group">
                            <label for="" class="text-dark " style="font-weight: 400;">
                                Contraseña<span class="text-danger">
                                    *
                                </span>
                            </label>
                            <input placeholder="Ingrese contraseña para el usuario" type="password"
                                   class=" form-control rounded-0 mt-2 form-control-sm" min="8" max="100" id="IsPass" required>
                        </div>
                    </div>
                </div>



                <div class="row ">

                    <div class="mt-1 pb-2">
                        <button type="submit" style="background-color: #0abbec; border-color: #5abeda;"
                                class="btn rounded-0 btn-primary btn-sm shadow font-weight-bold mt-3 float-right">
                            Registrar
                            Usuario
                        </button>
                    </div>

                </div>

            </form>

        </div>

    </div>

    <div class="col-lg-6 col-sm-12 mt-3 col-md-12 col-12 col-md-12 ">

        <div class="">

            <div class="col-12 shadow bg-white">

                <div style="background-color: #0abbec;" class="   p-2 ">

                    <div class="float-left ml-3">
                        <span style="font-size: 18px;" class="text-white font-weight-bold  ">Lista de  usuarios activos</span>
                    </div>

                    <div class="float-right">
                      
                    </div>

                    <br>

                </div>


                <div class="p-2">
                    <input type="type" class="form-control form-control-sm rounded-0 mt-2 w-50 " placeholder="Filtrar usuarios" id="FiltroUsuario" />
                </div>


                <div class="table-responsive p-2 ">

                    <table class="table table-striped table-bordered  table-hover " id="TablaListarUsuariosActivos">

                        <thead class="thead-dark ">
                            <tr>
                                <th scope="col" class="text-center" style="font-size: 13px; font-weight: 500;">Rut</th>
                                <th scope="col" class="text-center" style="font-size: 13px; font-weight: 500;">Nombre</th>
                                <th scope="col" class="text-center" style="font-size: 13px; font-weight: 500;">Apellido</th>
                                <th scope="col" class="text-center" style="font-size: 13px; font-weight: 500;">Modificar</th>
                                <th scope="col" class="text-center" style="font-size: 13px; font-weight: 500;">Opcion</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

   
    </div>


</div>




@section scripts {


    <script src="~/js/API/Master/UsuarioApi.js"></script>

    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>


}

